<footer>
  <div class="footer-col footer-col-2">
    <ul class="social-media-list">
      <li><a href="https://github.com/ndifix">
        <svg class="svg-icon">
          <use xlink:href="/assets/images/minima-social-icons.svg#github"></use>
        </svg>
        <span class="username">ndifix</span>
      </a></li>
      <li><a href="https://www.twitter.com/ndifix">
        <svg class="svg-icon">
          <use xlink:href="/assets/images/minima-social-icons.svg#twitter"></use>
        </svg> <span class="username">ndifix</span>
      </a></li>
    </ul>

</footer>