--- 

--- 
@import "{{ site.theme }}";

@media print, screen and (max-width: 480px) {
  #header { margin-top: -20px; }
  section { margin-top: 40px; }
  body {
    font-size: 80%;
  }
  nav { display: block; }
  .navi{
    margin-left: 10px;
    font-size: 120%;
  }
}