--- 
--- 
@import "{{ site.theme }}";
@import "main";

@media print, screen and (max-width: 480px) {
  header{
    margin-top: 0px;
    height: 70px;
  }
  .home-btn{
    height: 40px;
    width: 40px;
  }
  nav {
    display: block;
    height: 40px;
  }
  .navi{
    margin-left: 10px;
    margin-right: 20px;
    font-size: 100%;
  }
  main{
    font-size: 80%;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  footer{
    height: 50px;
    font-size: 100%;
  }
  .svg-icon {
    width: 16px;
    height: 16px;
  }

  h2 { font-size: 1.17em; margin: 1em 0; }
}
