--- 
--- 
@import "{{ site.theme }}";
@import "main";

@media print, screen and (max-width: 480px) {
  header{
    margin-top: 0px;
    height: 70px;
  }
  .home-btn{
    height: 40px; width: 40px;
  }
  nav {
    display: block; height: 40px;
  }
  .navi{
    margin-left: 10px;  margin-right: 20px;
    font-size: 100%;
  }
  main{
    font-size: 80%;
    padding-bottom: 100px;  padding-left: 15px; padding-right: 15px;
  }
  footer{
    height: 30px;
    font-size: 100%;
    position: fixed;
    .social-media-list{ display: none;  }
    .footer-nav{ display: inline-table; }
    table{table-layout: auto;}
  }
  
  .svg-icon { width: 16px; height: 16px; }

  h2 { font-size: 1.17em; margin: 1em 0; }
}

@media print, screen and (min-height: 1900px) {
  main{
    font-size: 200%;
    min-height: 1500px;
  }
}
@media print, screen and (min-width: 1000px){
  main{
    font-size: 200%;
  }
}
@media print, screen and (max-height: 800px){
  main{
    min-height: 400px;
  }
}
