<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href={{"/assets/css/header.css" | relative_url}}>
    <link rel="stylesheet" href={{"/assets/css/footer.css" | relative_url}}>
    <link rel="stylesheet" href={{"/assets/css/style.css" | relative_url}}>
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    {% feed_meta %}
    {% seo %}
  </head>
  <body style="background-color: black; margin: 0">
    <header>
      <a href="/">
         <img src="/assets/images/ndifix_pic.jpg"　alt= "ホームボタン" class="home-btn">
      </a>
      {% include navigation.html %}
    </header>
    
    {{content}}
    
    <footer>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/ndifix">
            <svg class="svg-icon">
              <use xlink:href="/assets/images/minima-social-icons.svg#github"></use>
            </svg>
            <span class="username">ndifix</span>
          </a></li>
          <li><a href="https://www.twitter.com/ndifix">
            <svg class="svg-icon">
              <use xlink:href="/assets/images/minima-social-icons.svg#twitter"></use>
            </svg> <span class="username">ndifix</span>
          </a></li>
        </ul>

    </footer>
  </body>
</html>
